<?xml version="1.0"?>
<config>
    <modules>
        <Blackbird_Merlinsearch>
            <version>0.9</version>
        </Blackbird_Merlinsearch>
    </modules>
    <frontend>
        <layout>
            <updates>
                <merlinsearch>
                    <file>merlinsearch.xml</file>
                </merlinsearch>
            </updates>
        </layout>
        <routers>
            <catalogsearch>
                <args>
                    <modules>
                        <Blackbird_Merlinsearch before="Mage_CatalogSearch">Blackbird_Merlinsearch_Frontend_CatalogSearch</Blackbird_Merlinsearch>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
    </frontend>
    <global>
        <models>
            <merlinsearch>
                <class>Blackbird_Merlinsearch_Model</class>
            </merlinsearch>
            <catalogsearch>
                <rewrite>
                    <layer>Blackbird_Merlinsearch_Model_CatalogSearch_Layer</layer>
                    <query>Blackbird_Merlinsearch_Model_CatalogSearch_Query</query>
                </rewrite>
            </catalogsearch>
	    <adminhtml>
		<rewrite>
		   <system_config_source_product_attributes>Blackbird_Merlinsearch_Adminhtml_Model_System_Config_Source_Product_Attributes</system_config_source_product_attributes>
		</rewrite>
	    </adminhtml>
        </models>
        <blocks>
            <merlinsearch>
                <class>Blackbird_Merlinsearch_Block</class>
            </merlinsearch>
            <catalogsearch>
                <rewrite>
                    <layer>Blackbird_Merlinsearch_Block_CatalogSearch_Layer</layer>
                </rewrite>
            </catalogsearch>
        </blocks>
        <index>
            <indexer>
                <merlin_search_indexer>
                    <model>merlinsearch/indexer_merlinindexer</model>
                </merlin_search_indexer>
            </indexer>
        </index>
        <helpers>
            <merlinsearch>
                <class>Blackbird_Merlinsearch_Helper</class>
            </merlinsearch>
        </helpers>
    </global>
</config>
