<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <merlinsearch translate="label" module="merlinsearch">
            <label>Blackbird extension</label>
            <sort_order>100</sort_order>
        </merlinsearch>
    </tabs>
    <sections>
        <merlinsearch translate="label" module="merlinsearch">
            <label>Blackbird search config</label>
            <tab>merlinsearch</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <merlinconfig translate="label">
                    <label>Blackbird search config</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <company>
                            <label>Company</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </company>
                        <environment>
                            <label>Environment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </environment>
                        <instance>
                            <label>Instance</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </instance>
                        <token>
                            <label>Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </token>
                        <user>
                            <label>User</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </user>
                    </fields> 
                </merlinconfig>
                <merlinindex translate="label">
                    <label>Blackbird Index</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <title>
                            <label>title (required)</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </title>
                        <description>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <label>description</label>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </description>
                        <price>
                            <label>price</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </price>
                        <url>
                            <label>url</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </url>	
                        <images>
                            <label>images</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </images>
                        <thumbnails>
                            <label>thumbnails</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </thumbnails>
                        <sizes>
                            <label>sizes</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </sizes>
                        <colors>
                            <label>colors</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </colors>
                        <tags>
                            <label>tags</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </tags>
                        <timestamp>
                            <label>timestamp</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </timestamp>
                        <availability>
                            <label>availability</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </availability>
                        <offer>
                            <label>offer</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </offer>
                        <age>
                            <label>age</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </age>
                        <brand>
                            <label>brand</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </brand>
                        <geo>
                            <label>geo</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </geo>
                        <gender>
                            <label>gender</label>
                            <frontend_type>select</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </gender>
                        <extra_fields>
                            <label>extra_fields</label>
                            <frontend_type>mutliselect</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </extra_fields>
                        <enum_facets>
                            <label>Facets</label>
                            <frontend_type>multiselect</frontend_type>
			                <source_model>adminhtml/system_config_source_product_attributes</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </enum_facets>
                    </fields> 
                </merlinindex>
            </groups>
        </merlinsearch>
    </sections>
</config>
